.page__list{
	list-style: none;
	padding: 0;
}
.page__list li{
	display: flex;
	align-items:center;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #333;
	border-radius: 5px;
}
.button__big{
	margin: 0;
	color: #333;
	font-weight: 600;
}
.button__li{
	margin: 0px 0px 5px 0px;
}
.button__search{
	color: #333;
	font-weight: 600;
	margin: 0;
	border: 1px solid #333;
	padding: 8px 15px
}
.input__search{
	background: rgb(244, 227, 198);
}
.form__addToDo{
	margin: 3% 0px;
	max-width: 550px;}	

@media (max-width: 767.98px){
	.page{
		justify-content: flex-end;
	}
	.aside{
		display: none;
	}
	.content{
		max-width: 100%;
		animation: backwidth 0.3s ease-in 0s forwards;
	}
	.content.active{
		max-width: calc(100%*0.667);
		animation: width 0.4s ease 0s forwards;
	}
}
@media (max-width: 479.98px){
	.content.active{
		max-width: 100%;
		animation: none;
	}
}
@keyframes width {
	0% {
		max-width: 100%;
	}
	100% {
		max-width: calc(100%*0.667);
	}
}
@keyframes backwidth {
	0% {
		max-width: calc(100%*0.667);
	}
	100% {
		max-width: 100%;
	}
}
