.calendar{
	@apply bg-neutral-500 px-2.5 py-0 flex flex-col items-center;
}
.calendar__header{
	@apply flex py-5 px-0 items-center justify-between;
}
.calendar__toggle{
	@apply text-neutral-100;
}
.calendar__toggle.calendar__toggle_l{ 
	@apply cursor-pointer mr-2.5;
}
.calendar__toggle.calendar__toggle_r{ 
	@apply cursor-pointer ml-2.5;
}
.calendar__toggle_l span{ 
	@apply text-5xl;
}
.calendar__toggle_r span{ 
	@apply text-5xl;
}
.calendar__table{
	@apply text-neutral-100 text-center;
}
.calendar__head{
	@apply text-center py-0 px-1.5;
}
.calendar__day{
	@apply py-1 px-0;
}
.calendar__day.active{
	@apply bg-amber-500/60 text-zinc-800;
}
.calendar__day.selected{
	@apply bg-amber-500 text-zinc-800;
}
.calendar__day:hover{
	@apply text-stone-500 bg-gray-300;
}
.calendar__month{
	@apply mr-2.5;
}
/* select */
.custom-select__control{
@apply !bg-transparent !text-gray-300 !border-b !border-solid !border-amber-500 !border-t-0 !border-l-0 !border-r-0 !shadow-none;
}
.custom-select__value-container{
	@apply !cursor-text;
}
.custom-select__single-value {
	@apply !text-gray-300 !tracking-wider !uppercase;
}
.custom-select__indicator-separator{
	@apply !hidden;
}
.custom-select__indicators{
	@apply !p-0;
}
.custom-select__dropdown-indicator{
	@apply !p-0 !text-gray-400;
}
.custom-select__dropdown-indicator:hover{
	@apply !text-gray-300;
}
.custom-select__menu{
	@apply !bg-neutral-500 !text-gray-300 !animate-scale !origin-top;
}
.custom-select__option{
@apply !cursor-pointer py-1 pl-1;
}
.custom-select__option--is-selected{
	@apply !bg-orange-50 !text-neutral-500;
}
.custom-select__option--is-focused{
	@apply !bg-orange-50 !text-neutral-500;
}
@media (max-width: 479.98px){
	.custom-select__input-container{
		@apply !text-xs;
	}
	.calendar__toggle span{
		@apply !text-3xl;
	}
}
/* .calendar{
	background-color: #666;
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
} */
/* .calendar__header{
	display: flex;
	padding: 20px 0px;
	align-items: center;
	justify-content: space-between;
} */
/* .calendar__toggle_l{
	margin: 0px 10px 0px 0px;
	cursor: pointer;
} */
/* .calendar__toggle_r{
	margin: 0px 0px 0px 10px;
	cursor: pointer;
} */
/* .calendar__toggle{
	color: hsl(0, 0%, 80%);
} */
/* .calendar__toggle span{
	font-size:42px;
} */
/* .calendar__month{
	margin: 0px 10px 0px 0px;
} */
/* .calendar__table{
	color: hsl(0, 0%, 80%);
	text-align: center;
} */
/* .calendar__head tr th{
	text-align: center;
	padding: 0px 5px;
} */

/* .calendar__day{
	padding: 3px 0px;
} */

/* select */
/*.custom-select__control{
	background: transparent !important;
	color: #999 !important;
	border-bottom: 1px solid rgb(245 158 11) !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	box-shadow: none !important;
}
.custom-select__value-container{
	cursor: text;
}
.custom-select__single-value {
	color: hsl(0, 0%, 80%) !important;
	letter-spacing: 1px !important;
	text-transform: uppercase !important;
}
.custom-select__indicator-separator{
	display: none !important;
}
.custom-select__indicators{
	padding: 0px 0px 0px 0px !important;
}
.custom-select__dropdown-indicator{
	padding: 0px 0px 0px 0px !important;
	color: hsl(0, 0%, 80%) !important;
}
.custom-select__dropdown-indicator:hover{
	color: #999 !important;
}
.custom-select__menu{
	background-color: #666 !important;
	color: hsl(0, 0%, 80%) !important;
	transform-origin: top;
	animation: scale 0.4s ease-in-out 0s;
}
.custom-select__option{
	cursor: pointer !important;
	padding: 5px 0px 5px 5px !important;
}
.custom-select__option--is-selected{
	background-color: rgb(248, 244, 235) !important;
	color:rgb(159, 158, 158) !important;
}
.custom-select__option--is-focused{
	background-color: rgb(245, 232, 209) !important;
	color:#666 !important;
}
@keyframes scale {
0% {
opacity: 0;
transform: scale(1, 0);
}
50% {
	opacity: 0.3;
}
100% {
	opacity: 1;
	transform: scale(1, 1);
}
}
@media (max-width: 479.98px){
	.custom-select__input-container{
		font-size: 12px !important;
	}
	.calendar__toggle span{
		font-size:28px;
	}
}*/