.calendar{
	@apply bg-neutral-500 px-2.5 py-0 flex-col items-center;
}
.calendar__header{
	@apply flex py-5 px-0 items-center justify-between;
}
.calendar__toggle{
	@apply text-neutral-100;
}
.calendar__toggle.calendar__toggle_l{ @apply cursor-pointer mr-2.5}

.calendar__toggle.calendar__toggle_r{
	@apply  text-neutral-100;
}
.calendar__table{@apply text-neutral-100 text-center}
.calendar__head {@apply text-center py-0 px-1.5}
/* .calendar{
	background-color: #666;
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
} */
/* .calendar__header{
	display: flex;
	padding: 20px 0px;
	align-items: center;
	justify-content: space-between;
} */
/* .calendar__toggle_l{
	margin: 0px 10px 0px 0px;
	cursor: pointer;
} */
/* .calendar__toggle_r{
	margin: 0px 0px 0px 10px;
	cursor: pointer;
} */
/* .calendar__toggle{
	color: hsl(0, 0%, 80%);
} */
/* .calendar__toggle span{
	font-size:42px;
} */
/* .calendar__month{
	margin: 0px 10px 0px 0px;
} */
/* .calendar__table{
	color: hsl(0, 0%, 80%);
	text-align: center;
} */
/* .calendar__head tr th{
	text-align: center;
	padding: 0px 5px;
} */

/* .calendar__day{
	padding: 3px 0px;
} */
.calendar__day.active{
	background-color: rgba(245, 159, 11, 0.6);
	color: #333;
}
.calendar__day.selected{
	color: #333;
	background-color: rgba(245, 159, 11, 1);
}
.calendar__day:hover{
	color: #666;
	background-color: hsl(0, 0%, 80%);
}
/* select */
.custom-select__control{
	background: transparent !important;
	color: #999 !important;
	border-bottom: 1px solid rgb(245 158 11) !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	box-shadow: none !important;
}
.custom-select__value-container{
	cursor: text;
}
.custom-select__single-value {
	color: hsl(0, 0%, 80%) !important;
	letter-spacing: 1px !important;
	text-transform: uppercase !important;
}
.custom-select__indicator-separator{
	display: none !important;
}
.custom-select__indicators{
	padding: 0px 0px 0px 0px !important;
}
.custom-select__dropdown-indicator{
	padding: 0px 0px 0px 0px !important;
	color: hsl(0, 0%, 80%) !important;
}
.custom-select__dropdown-indicator:hover{
	color: #999 !important;
}
.custom-select__menu{
	background-color: #666 !important;
	color: hsl(0, 0%, 80%) !important;
	transform-origin: top;
	animation: scale 0.4s ease-in-out 0s;
}
.custom-select__option{
	cursor: pointer !important;
	padding: 5px 0px 5px 5px !important;
}
.custom-select__option--is-selected{
	background-color: rgb(248, 244, 235) !important;
	color:rgb(159, 158, 158) !important;
}
.custom-select__option--is-focused{
	background-color: rgb(245, 232, 209) !important;
	color:#666 !important;
}
@keyframes scale {
0% {
opacity: 0;
transform: scale(1, 0);
}
50% {
	opacity: 0.3;
}
100% {
	opacity: 1;
	transform: scale(1, 1);
}
}
@media (max-width: 479.98px){
	.custom-select__input-container{
		font-size: 12px !important;
	}
	.calendar__toggle span{
		font-size:28px;
	}
}