.page__list{
	@apply p-0;
}
.page__list li{
@apply flex items-center mb-4 border-b border-solid border-zinc-800 rounded-md;
}
.button__big{
@apply m-0 text-zinc-800 font-semibold;
}
.button__li{
@apply mb-1
}
.button__search{
@apply text-zinc-800 font-semibold m-0 border border-solid border-zinc-800 px-4 py-2;
}
.input__search{
@apply bg-amber-50
}
.form{
@apply flex;
}
.form__addToDo{
	@apply flex -mx-2.5 my-[3%];
}
.form__addText{
@apply flex flex-100 py-0 px-2.5;
}

.form__image{
 @apply pb-28 relative w-100;
}
.form__image img{
	@apply absolute top-0 left-0 w-100 h-100 object-contain object-center;
}

/*.page__list{
	padding: 0;
}
.page__list li{
	display: flex;
	align-items:center;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #333;
	border-radius: 5px;
}
.button__big{
	margin: 0;
	color: #333;
	font-weight: 600;
}
.button__li{
	margin: 0px 0px 5px 0px;
}
.button__search{
	color: #333;
	font-weight: 600;
	margin: 0;
	border: 1px solid #333;
	padding: 8px 15px
}
.input__search{
	background: rgb(244, 227, 198);
}
.form{
	display: flex;
}
.form__addToDo{
	display: flex;
	margin: 3% -10px;

}
.form__addText{
	flex: 1 1 100%;
	display: flex;
	padding: 0px 10px;
}*/