.header{
	@apply flex min-h-[50px] flex-col justify-center px-[1%] py-2.5 bg-amber-500;
}
.header.active{
	@apply before:fixed before:top-0 before:left-0 before:w-100 before:min-h-[50px] before:bg-amber-500 before:z-[3] before:transition-burg ease-linear delay-0;
}
.container__header{
	@apply flex items-center  m-center w-100 max-w-full;
}
.container__header_auth{
	@apply justify-between;
}
.header__image {
	@apply inline-block h-12 w-16 relative hover:animate-drug;
}
.header__image img{
	@apply absolute top-0 left-0 w-100 h-100 object-cover object-bottom rounded-md;
}
.header__link{
	@apply block text-zinc-800 uppercase tracking-wide leading-7 relative;
}
.header__link{
	@apply before:absolute before:bottom-0 before:left-[50%] before:w-0 before:h-px before:bg-zinc-800 before:transition-burg before:duration-300 before:ease-in before:delay-0 hover:before:left-0 hover:before:w-100;
}
.header__main{
	@apply flex-auto px-[7%] py-0 relative z-[3] transition-burg ease-ease-out-cur duration-700 delay-0
}
.header__burger{
	@apply hidden before:absolute before:block before:left-0 before:w-100 before:h-[2px] before:bg-zinc-800 before:transition-burg before:duration-300 before:delay-0 before:ease-linear before:top-0 after:absolute after:block after:left-0 after:w-100 after:h-[2px] after:bg-zinc-800 after:transition-burg after:duration-300 after:delay-0 after:ease-linear after:bottom-0;
}
.header__burger.active{
	@apply before:top-[9px] before:rotate-45 after:top-[9px] after:rotate-[-45deg];
}
.header__burger span{
	@apply absolute block left-0 w-100 h-[2px] bg-zinc-800 transition-burg duration-300 delay-0 ease-linear top-[9px];
}
.header__burger span.active{
	@apply scale-0;
}
.header__list{
	@apply flex p-0 justify-between items-center;
}
.header__showSearch {
	@apply relative max-w-full w-100 m-center right-[110%] h-0 rotate-0 transition-burg duration-500 delay-0 ease-linear
}
.form__search{
	@apply mt-3 max-w-100;
}
.header__loupe{
	@apply  hover:animate-drug relative z-[4] w-[30px] h-[30px];
}
.header__showSearch.active{
	@apply right-0 h-100;
  }
.header__addOpport{
 @apply hidden;
}
.header__templ{
@apply flex
}
@media (max-width: 767.98px){
	.header{
		@apply px-2.5 px-[2%];
	}
	.container__header{
		@apply block;
	}
	.header__image{
		@apply hidden;
	}
	.header__burger{
		@apply w-[1.875rem] h-5 left-2.5 top-[15px] inline-block absolute z-[4];
	}
	.header__main{
		@apply block fixed top-0 left-[-100%] w-[calc(100%/3)] h-100 bg-amber-500 py-0 px-2.5 overflow-auto z-[2];
	}
	.header__list{
		@apply block pt-14 mb-5;
	}
	.header__list li{
		@apply mb-5;
	}
	.header__link{
		@apply font-bold text-xl;
	}
	.container__header{
		@apply justify-between;
	}
	.header__main.active{
		@apply left-0;
	}
	.header__loupe{
		@apply absolute right-2.5 w-[1.875rem] h-[1.875rem] top-2.5;
	}
	/*.header__showSearch{
		@apply mt-[1.875rem];
	}*/
	.header__addOpport{
		@apply inline-block;
	}
	.header__templ{
@apply justify-end;
}
}
/* .header{
	background-color: rgb(241, 166, 38);
	padding: 0.8% 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 50px;
} */
/* .header.active:before{
	content:'';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 50px;
	z-index: 3;
	background-color: rgb(241, 166, 38);
	transition: all 0.3s 0s;
} */
/* .container__header{
	display: flex;
	max-width: 1700px;
	width: 100%;
	margin: 0 auto;
	align-items: center;
} */

/* .header__image{
	display: inline-block;
	height: 35px;
	width: 55px;
	position: relative;
} */
/* .header__image:hover{
	animation: drug 1s ease 0s infinite;
} */

/* .header__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	object-position: bottom;
} */

/* .header__burger{
	display: none;
}

.header__burger span,.header__burger:before,.header__burger::after{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #333;
	transition: all 0.3s 0s;
}
.header__burger:before{
	top:0;
}
.header__burger:after{
	bottom: 0;
}
.header__burger span{
	top: 9px;
}
.header__burger.active:before{
	transform: rotate(45deg);
	top: 9px;
}
.header__burger.active:after{
	transform: rotate(-45deg);
	bottom: 9px;
}
.header__burger span.active{
	transform: scale(0);
} */

/* .header__main{
	flex: 1 1 auto;
	padding: 0px 7%;
	position: relative;
	z-index: 3;
	transition: all .8s cubic-bezier(.9,.76,.76,1.32) 0s;
} */
/* .header__list{
	display: flex;
	padding: 0;
	margin: 0px 0px 0px 10px;
	justify-content: space-between;
} */
/* .header__list:last-child{
	margin: 0;
} */
/* .header__link{
	color: #333;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 28px;
	position: relative;
} */
/* .header__link:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 1px;
	background-color: #333;
	transition: all 0.3s 0s;
} */
/* .header__link:hover::before{
	left: 0%;
	width: 100%;
} */
/* .header__loupe{
	position: relative;
	z-index: 4;
	width: 30px;
	height: 30px;
} */
/* .header__loupe:hover{
	animation: drug 1s ease 0s infinite;
} */
/* .header__showSearch{
	position: relative;
	max-width: 1700px;
	width: 100%;
	margin: 0 auto;
	right: 110%;
	height: 0;
	transform: rotate(0deg);
	transition: all 0.5s ease 0s;
} */
/* .form__search{
	margin: 14px 0px 0px 0px;
	max-width: 100%;
} */
/* @media (max-width: 767.98px){
	.header{
		padding: 2% 10px;
	}
	.container__header{
		display: block;
	}
	.header__image{
		display: none;
	}
	.header__burger{
		display: inline-block;
		position: absolute;
		z-index: 4;
		width: 30px;
		height: 20px;
		left: 10px;
		top: 15px;
	}
	.header__main{
		display: block;
		position: fixed;
		top: 0;
		left: -100%;
		width: calc(100%/3);
		height: 100%;
		background-color:  rgb(245 158 11);
		padding: 0px 10px;
		overflow: auto;
		z-index:2;
	}
	.header__list{
		display: block;
		padding: 80px 0px 0px 0px;
		margin: 0px 0px 20px 0px;
	}
	.header__list li{
		margin: 0px 0px 20px 0px;
	}
	.header__link{
		font-weight: 700;
		font-size: 20px;
	}
	.container__header{
		justify-content: space-between;
	}
	.header__main.active{
		left: 0;
	}
	.header__loupe{
		position: absolute;
		right: 10px;
		width: 30px;
		height: 30px;
		top: 10px;
	}
	.header__showSearch{
		margin: 30px 0px 0px 0px;
	}
	.header__addOpport{
		display:inline-block;
	}
} */
/* @keyframes drug {
0% {
	transform: rotate(0deg);
}
50% {
	transform: rotate(30deg);
}

100% {
	transform: rotate(0deg);
}
} */

