/* checkbox */
.checkbox{
	flex: 1 1 auto;
	display: flex;
	position: relative;
} 
.checkbox>span{
	display:flex;
	align-items:center;
}
.checkbox:before{
	content: '';
	position: absolute;
	display: block;
	top: 50%;
	left: 0;
	width:98%;
	height: 1px;
	background: rgb(241, 166, 38);
	z-index:49;
	transform: translate( 0, -50%) scale(0);
	transition: all 0.3s 0s;
}
.checkbox.active:before{
	transform: translate( 0, -50%) scale(1);
}
.checkbox__input{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}
.checkbox__lable{
	display: block;
	width: 100%;
	position: relative;
	transition: all 0.3s 0s;
	line-height: 23px;
}
.checkbox__lable.active{
	text-decoration: line-through;
}
.checkbox__lable::after{
	content: '';
	position: absolute;
	top: -5px;
	left: -2px;
	width: 30px;
	height: 30px;
	background-color: rgb(176, 167, 167);
	border-radius: 50%;
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	transition: all 0.3s 0s;
}
.checkbox__lable::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 20px;
	border-radius: 20px;
	background-color: rgb(176, 167, 167);
	box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.checkbox__lable.active::after{
	left: 30px;
	background-color: rgb(241, 166, 38);
}
.checkbox__lable.active::before{
	background-color: rgb(241, 166, 38);
}
.checkbox__lable span{
	margin: 0 10px 0 70px;
	color: #666;
}
