.aside__list li{
	@apply mb-[20%];
}
.aside__list li a{
	@apply uppercase text-zinc-800 font-bold text-xl;
}
/* .aside__list{
	padding: 20% 0px 0px 0px;
} */
/* .aside__list li{
	margin: 0px 0px 20% 0px;
} */

/* .aside__list li a{
	text-transform: uppercase;
	color: #333;
	font-weight: 700;
	font-size: 20px;
} */
@media(max-width:767.98px){
	.aside__list{
		padding: 0;
	}
}